.container{
    width: 90%;
}
label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin-left: 10%;
}
.col-md-3{
    height: max-content;
    width: 20%;
}
img,svg{
    margin-left: 15%;
}
h4,h6{
    color: blue;
    margin-left: 16%;
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
}
span{
    text-decoration: line-through;
    margin-left: 5%;
}

