<div class="container shadow-lg p-5 mb-7">
    <div class="para">
        SKY HOSPITAL
    </div>
     <h4> Create your new account </h4>
  <div class="row">
     <div class="col" style="margin-top: 1%;">
       <input type="text" class="form-control" placeholder="First name" id="fname" required>
       <label id="fnameMsg"></label>
     </div>
     <div class="col" style="margin-top: 1%;">
       <input type="text" class="form-control" placeholder="Last name" id="lname" required>
       <label id="lnameMsg"></label>
     </div>
   </div>
   <br>
   <div class="col-auto">
     <label class="visually-hidden" for="autoSizingInputGroup">Username</label>
     <div class="input-group">
       <div class="input-group-text">@</div>
       <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Username" required>
       <div id="userHelp" class="form-text" style="margin-left: 2%;">You can use numbers,letters & periods.</div>            
     </div>
   </div>
   <br>
   <div class="col">
     <input type="number" class="form-control" placeholder="mobile no" [(ngModel)]="mobno" id="mobno" (keyup)="validateMob()" required>
     <label>{{mobnoMsg}}</label>
   </div>
   <br>
   <div class="col">
     <input type="email" class="form-control" placeholder=" Email id " [(ngModel)]="email" id="email" (keyup)="validateEmail()" required>
     <label>{{emailMsg}}</label>
     <div id="emailHelp" class="form-text" style="margin-left: 2%;">We'll never share your email with anyone else.</div>
   </div>
   <br>
   <div class="row">
   <div class="col" style="margin-bottom: 5%;">
     <span for="exampleInputPassword1" class="form-label">Password</span>
     <input type="password" class="form-control" id="pass" [(ngModel)]="password" (keyup)="validatePassword()" required>
     <label>{{passMsg}}</label>
   </div>
   <div class="col">
     <span for="exampleInputPassword1" class="form-label">Confirm password</span>
     <input type="password" class="form-control" id="confirmpass" [(ngModel)]="cfPassword" (keyup)="validatecpass()" required>
     <label>{{cfpassMsg}}</label>
   </div>
  </div>
    <button type="button" value="summit" class="btn btn-success" (click)="validateregister">Register</button>
 </div>
 <br>
