 p{
     color: #fff;
 }

 h4 {
     color: #fff;
     font-weight: 700;
     font-family: Georgia, 'Times New Roman', Times, serif;
     margin-top: 15%;
 }

 .container {
     width: fit-content;
 }
 span{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;    
 }