<form>
    <div class="container shadow-lg p-3 mb-5 bg-body rounded" style="width:30%; margin-left: 30%; margin-top: 5%;">
        <br>
        <h2><b> Login </b></h2>
        <h5>Don't have an account? <a href="./newacc" class="card-link" style="color: darkgreen;">create account </a></h5>
        <br>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">User Name</label>
            <input type="text" [(ngModel)]="username" class="form-control border border-primary" id="username" name="username">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" [(ngModel)]= "pswd" class="form-control border border-primary" id="password" name="password">
        </div>
        <br>
        <div>
            <button type="button" (click)="validateLogin()" class="btn btn-primary">Login</button>
        </div>
        <div><a href="./forgetpass" class="card-link text-danger" style="margin-left:70%; font-weight: 700;">Forget password </a></div>
        <br>
        <p style="color: red;">{{ msg }}</p>
    </div>
</form>