    <img src="../../../assets/SKY-hospital.jpg" style="width: 100%; height: 330px;"/>
    <h5> INFO: </h5>
      <p> <b>SKY HOSPITAL</b> was established in 1999 by <u><b>Dr. Dhaya</b></u>. Our company was one of the most private health care centre in india. The group had one of the healthcare providing and including <u>Pharmacy,Primary Care,Diagnostic Clinics,Dental.</u>
       The Group also has online consultancy facilities across several countries,<b>Health Insurance Services,Colleges of Nursing and Management of Hospitals and a Research Foundation.</b><br>
      </p>
    <h5>DEPARTMENT AND WARDS:</h5>
      <p>
        A hospital contains one or more wards in hospital beds for outpatients. It may also have services such as emergency department,operating theatre, and Blood care unit, as well as a range of medical specialty departments.<br> As well as equipped hospital it has all emergency equipments. They may also have other services such as a <u><b>24/7 hospital pharmacy, radiology, pathology, and medical laboratories</b></u>.<i>They have inpatient departments such as behavioral health services,dentistry services</i>.
      </p> 
    <h5>EMERGENCY SERVICES:</h5>
      <p>
       An emergency situation is serious often a critical situation requiring immediate action. That’s why our emergency services comunnicate of our medical staff with advanced technology to provide emergency care.<br>
       We provide a full facility with state clinical <b>support team of trained and experienced doctors, paramedics and nurses</b>.<br> Here we have new facilities in hand to extend immediate medical care for <b>critical or injured patients</b> immediately. Our Emergency Department also maintains immediate excecution for testing,diagnosis and treatment for injuries from <u><i><b>vehicle accidents,cardiac,Heart attack,Snake bites and fractures</b></i></u>.                                                                                                                                                    
      </p>
    <h5>TECHNOLOGY USED:</h5> 
      <ol>
        <li *ngFor="let product of products">
          {{ product }}
        </li>
      </ol>   
    <h5>PHARMACY:</h5>
      <p>
        The Pharmacy is located on the <i>right side corner on ground floor of the hospital</i>. As per policy, medicines and consumables should be only taken by <b>AIMS</b>.In case you intend to buy medicines from outside the hospital, <u>we will not be responsible for complications occurs on the usage of outside medication.</u>
      </p>
      <br>
      <br>
      <br>  

  
