  h5 {
    font-family:'Times New Roman', Times, serif;
    outline-style:double ;
    outline-color: red;
    text-align: center;
    margin:25px;
    background-color: rgb(33, 147, 147);
  }
  p{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width: 90%;
    margin:20px ;
  }
  ol li{
    padding: 10px;
    margin-left: 40%;
    font-weight: 800;
    color: black;
  }
  b{
    background-color: yellow;
  }
  i,u{
      background-color: rgb(197, 150, 150);
  }
