<div class="container">
    <form action="" class="shadow-lg p-6 mb-9 bg-body rounded">
        <p class="title">payment</p>
        <br><br>
        <div class="row">
            <div class="col">
                <div class="inputbox ">
                    <span>Name on card:</span>
                    <input type="text" placeholder="surya">     
                </div>
                <div class="inputbox">
                    <span>Card number:</span>
                    <input type="number" placeholder="0000-0000-0000">      
                </div>
                <div class="inputbox">
                    <span>Expiry month:</span>
                    <input type="number" placeholder="00">      
                </div>
                <div class="inputbox">
                    <span>Expiry year:</span>
                    <input type="number" placeholder="0000">      
                </div>
                <div class="inputbox">
                    <span>CVV:</span>
                    <input type="number" placeholder="000">      
                </div>
            </div>
        </div>
     <a href="./success.html"><button type="button" value="proceed to checkout" class="summitbtn">proceed to checkout</button></a>
    </form>
</div>
