*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    min-height: 100vh;
    background-image: url(./../assets/Photos/payment2.webp);
    padding-bottom: 50px;
}
.container form{
    padding: 20px;
    width: 700px;
    background-image: url(./../assets/Photos/online-payment-.webp);
}
.container form .row .col{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.container .title{
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.container .inputbox input{
    margin: 15px 0;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 15px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    text-transform: none;
}
.container form .summitbtn{              
    padding: 10px;
    margin-left: 35%;
    width:max-content;
    font-size: 15px;
    background: #27ae60;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;                
}
.container form .summitbtn:hover{
    background: #00ff0d;
}