.footer{
    width:100%;
    background-color: rgb(43, 43, 43);
    color: #fff;
    text-align: center;
  }
  .container{
    width: 15%;
    margin-left: 4%; 
    margin-bottom: 2%;
  }
  hr{
    width: 90%;
    margin-left: 5%;
  }
